<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Camera and Image Upload OCR</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<body>

<div id="video-container">
    <video id="video" autoplay playsinline></video>
</div>
<br />
<button id="capture-btn" onclick="toggleCamera()">Capture Image from Camera</button>
<button id="upload-btn" onclick="openFileInput()">Upload Image</button>
<input type="file" id="file-input" accept="image/*" onchange="uploadImage(this)">

<div id="output"></div>

<script src="{{ url_for('static', filename='js/index.js') }}"></script>

</body>
</html>